services:
  duckdb-mdc:
    image: duckdb/duckdb
    container_name: duckdb-mdc
    ports:
      - "31200:8080"
    volumes:
      - type: bind
        source: ./input/mdc/mdc_index.duckdb
        target: /data/mdc_index.duckdb
        read_only: true
    environment:
      DUCKDB_PATH: /data/mdc_index.duckdb
      PORT: 8080
      HOST: 0.0.0.0
    restart: unless-stopped

  duckdb-norm:
    image: duckdb/duckdb
    container_name: duckdb-norm
    ports:
      - "20891:8080"
    volumes:
      - type: bind
        source: ./input/mock_norm/mock_norm.duckdb
        target: /data/mock_norm.duckdb
        read_only: true
    environment:
      DUCKDB_PATH: /data/mock_norm.duckdb
      PORT: 8081
      HOST: 0.0.0.0
    restart: unless-stopped
