services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: s-index-api
    ports:
      - "6405:5000"
    restart: unless-stopped
    stdin_open: true
    tty: true
  fuji:
    image: ghcr.io/pangaea-data-publisher/fuji:latest
    container_name: fuji
    ports:
      - "16941:1071"
    restart: unless-stopped
